

.Post {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background: #0004;
    border-radius: 10px;
    border: 1px solid #0005;

    * { box-sizing: border-box; }

    .tag-bar {
        display: flex;
        gap: 0.3rem;
        margin: 0.2rem;
        flex-wrap: wrap;
    }
    
    .tag {
        background: green;
        padding: .1rem .5rem;
        border-radius: 5px;
        border: 1px solid #0005;
        cursor: pointer;
    }
    .tag:active {
        opacity: 80%;
    }

    .tag.creator { background: purple; }
    .tag.source { background: orange; }
}
