
.DateSideNav {
    display: flex;
    flex-direction: column;
    background: rgb(5, 28, 49);
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    padding-top: 1.5rem;
    margin: 0;
    transform: translateY(-35px);

    * { box-sizing: border-box; }

    span {
        font-size: 20px;
        display: flex;
        /* flex-direction: row-reverse; */
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    span:hover .count {
        color: white;
    }

    .year {
        /* font-family: sans-serif; */
        padding-left: 0.1rem;
    }

    .month {
        padding-left: 0.5rem;
        color: rgb(187, 187, 187);
        font-size: 16px;
    }
    
    button {
        all: unset;
        cursor: pointer;
        z-index: 999;
    }
    button:hover {
        text-decoration: underline;
        color: white;
    }
    
    .count {
        font-size: 14px;
        color: grey;
        font-family: sans-serif;
    }

    .bar {
        position: absolute;
        display: none;
        /* background: rgba(247, 163, 6, 0.459); */
        opacity: 70%;
        height: 1.5px;
        right: 3px;
        bottom: 0;
    }
    .year .bar {
        height: 2px;
    }

    .selected {
        color: yellow;
    }

    .before-selected {
        color: grey;
    }
}

.DateSideNav:hover .bar {
    display: block;
}